modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install Dependencies"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Demo Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Build Library"

[[workflows.workflow]]
name = "Install Dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install typescript @types/node @rollup/plugin-typescript rollup-plugin-terser jest ts-jest @types/jest jsdom @typescript-eslint/parser @typescript-eslint/eslint-plugin eslint eslint-config-prettier prettier"

[[workflows.workflow]]
name = "Demo Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "Build Library"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node scripts/build.js"

[[ports]]
localPort = 5000
externalPort = 80
